
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #E9F7EF ;
    
}

header{
    background:url(head-back.png) no-repeat center center fixed;
	background-size:cover;
	height:250px;
	width: 100%;
	position: absolute;
	left:0;
	top:0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

.imagen_logo{
    margin-top: 25px;
    border-radius: 10px;
}

/*Barra*/

#barra{
    position: absolute;
    top: 75px;
    right: 0;

}

#barra li{
    display: inline;
    margin: 0px 0px 0px 15px;
}

#barra a:hover{
    color: #c78c19;
}

#barra a{
    text-transform: uppercase;
    color: black;
    font-weight: 1000;
    font-size: 27px;
    text-decoration: none;
}

/* Descripción de la empresa*/

.principal{
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin-top: 16rem;
    clear: left;
}

.principal p{
    margin: 0 0 1em;
}

th{
    border-radius: 10px;
    font-size: 1.5em;
}

.descripcion{
    text-align: center;
}

.imgs{
    border-radius: 10px;
}

/*Misión y visión*/

.titulos-mision{
    background-color: #73C6B6;
    background-size: contain;
}

.texto-mision{
    justify-content: right;
}

.borde{
    border: 4px solid #73C6B6;
    border-radius: 10px;
}

/*Ubicación*/

.ubicacion h2{
    font-size: 2em;
}

.ubicacion{
    margin-top: 65px;
    text-align: center;
    clear: left;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}

/*Equipo*/

.socios{
    text-align: center;
    font-size: 2em;
    margin-top: 55px;
}

.contenidoPrincipal-servicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contenidoPrincipal-cursos-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 310px;
    width: 300px;
    border-radius: 10px;
    margin: 1%;
    background-color: #A9DFBF;
    text-align: center;
    box-shadow: 2px 2px 2px #CCC;
    position: relative;
    padding: 22px;
    align-items: center;

    text-decoration: none;
    color: black;
    font-weight: bold;
}

/*Video*/

.video{
    margin-top: 55px;
    text-align: center;
    clear: left;
}

.video h2{
    font-size: 2em;
}

.video-contenido{
    width: 940px;
    margin: 2em auto;
}

/*Footer*/
.footers{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link-face{
    display: flex;
    gap: 30px;
}

.informacion{
    margin-left: 50px;
}

footer{
    background-color: #7DCEA0;
}